
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}">My Taco App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.1/css/bootstrap.min.css" integrity="sha512-ugUAb0Iv5b6CYSZaLXBJOq3WMxNhQcHJjzD1OgrIOGSWpOAp59RdGZ+mT9c9T25d8NvCkRtYRRwBz+g/1tnTBQ==" crossorigin="anonymous" />

</head>
<body>
<div>
    <h1>Welcome to</h1>
    <img th:src="@{/images/taco.jpeg}" alt="image of a taco" class="r-image">
</div>
</body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.4.js" integrity="sha384-cJ/rKjgXMpf1nMozG4T/9L+QMxjpfN/6wN8CeklaEQ1B+QJivzjLW2J3g9ZaGnU6" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.1/js/bootstrap.min.js" integrity="sha512-wRWvRhyUI7w0C16z+Oqj8Q92rvs/7oIRX9Xl3qfH2v+dfjyDwNvw61eHfNpP+oWyZ91ltOGXetzyB55xOsB1Hg==" crossorigin="anonymous"></script>

</html>