
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">My Taco App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.min.css}" />


</head>
<body th:insert="${content!=null ? content : 'home'} :: content">

</body>
    <script th:src="@{/css/bootstrap/js/bootstrap.js}" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery.min.js}" ></script>
    <script th:src="@{/js/popper.min.js}" ></script>
</html>

